<div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white box-shadow">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark">
            <h4>Propriedades</h4>
            <app-side-properties *ngFor="let property of property_list" [property]="property" (click)="setCurrentProperty(property)"></app-side-properties>
        </div>
    </div>
    <div class="col py-3 bg-white box-shadow" *ngIf="!propertyPromote">
        <form class="form center-form d-flex flex-column align-items-center flex-grow-1" [formGroup]="propertyPromoteForm" (submit)="submitPromotion()">
            <h2>Promover propriedade</h2>

            <div class="form-group mt-4">
                <label for="duration">Escolha a duração:</label>
                <select name="duration" id="duration" class="form-control" formControlName="duration">
                    <option value="week">1 Semana</option>
                    <option value="month">1 Mês</option>
                    <option value="year">1 Ano</option>
                </select>
            </div>

            <button class="btn btn-success mt-4" type="submit">Promover</button>
        </form>
    </div>

    <app-payment [data]="propertyPromote" *ngIf="propertyPromote"></app-payment>
</div>