
:host {
  flex-grow: inherit;
  display: flex;
  width: 100%;
}

.main {
  flex-grow: inherit;
}

.color{
    color: black;
}

/*
.fc-col-header-cell {
  background-color: #9DC78A;
  color: black;
}*/


/*.fc-daygrid-day-frame {*/
    /*atribuir cor de fundo aos dias*/
  /*background-color: #9DC78A !important;
}

.fc .fc-daygrid-day-top {*/
    /*atribuir cor aos números dos dias*/
    /*color:red !important;
}*/

