/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Montserrat';
    src: url('assets/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/montserrat-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Material Icons';
    src: url('assets/material-icons.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 100 700;
    src: url('assets/material-symbols-outlined.woff2') format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

* {
    font-family: "Montserrat", "Helvetica Neue", sans-serif;
    --bs-body-font-family: 'Montserrat';
    --bs-accordion-active-color: #000;
    --bs-accordion-active-bg: #fff;
}


/*
a:visited {
    color: green;
}

a:hover {
    color: rgb(0, 85, 0);
}
*/

.pointer {
    cursor: pointer;
}

:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
}

html,
body {
    height: 100%;
}

.light-green {
    background-color: #9DAE9A;
}

.medium-green {
    background-color: #4E6D4A;
}

.dark-green {
    background-color: #3B5D36;
}

.bg-success-medium {
    background-color: #21ae6c;
}

.bg-success-light {
    background-color: #32d489;
}

.mat-form-field-underline {
    background-color: transparent !important;
}

.mat-form-field-underline .mat-form-field-ripple {
    display: none;
    background-color: transparent !important;
}

.example-chip-list {
    background-color: transparent !important;
}

.mat-mdc-text-field-wrapper {
    background-color: transparent !important;
}

.cdk-overlay-container {
    z-index: 1200 !important;
}

.assigned-chip {
    background-color: blue;
}

.fc {
    background-color: white;
}

.fc .fc-daygrid-day-number {
    color: black;
}

.fc .fc-col-header-cell-cushion {
    color: black;
}

.fc .fc-highlight {
    background: green;
    opacity: 25%;
}

.fc .fc-scroller-harness {
    background: #9DC78A;
}

.fc .fc-scrollgrid-section-body table,
.fc .fc-scrollgrid-section-footer table {
    background-color: #e4fee4;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-top: 0%;
}

.btn-outline-success {
    background-color: black;
}

.fc .fc-button-primary:disabled {
    background: #176b17;
}

.fc .fc-button:not(:disabled) {
    background: #176b17;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:last-child) {
    background-color: #176b17;
}

.fc-direction-ltr .fc-button-group>.fc-button:not(:first-child) {
    background-color: #176b17;
}

button.discount-date-class {
    background: #9DAE9A;
    border-radius: 100%;
    width: 80%;
    height: 80%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #fff !important;
}


/*
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}*/