<div class="form-group mt-4" *ngIf="data">
    <label for="paymentMethod">Escolha o método de pagamento:</label>
    <select #paymentMethod name="paymentMethod" id="paymentMethod" class="form-control" (change)="addPaymentMethod(paymentMethod.value)">
    <option value="multibanco">Ref. Multibanco</option>
    <option value="mbway">MB WAY</option>
    </select>

    <input type="text" class="form-control mt-4" *ngIf="paymentMethod.value === 'mbway'" placeholder="Número de telemóvel" name="phoneNumber" [(ngModel)]="phoneNumber" required>
</div>

<button class="btn btn-success mt-4" type="button" (click)="submitPayment()" [disabled]="paymentMethod === undefined">Efetuar pagamento</button>

<div *ngIf="paymentResponse">
    <p class="mt-4">{{paymentResponse}}</p>
</div>