<div class="d-flex flex-row flex-grow-1 w-100 text-center align-items-center justify-content-center">
  <div class="d-flex w-50 flex-grow-1 flex-column align-items-center">
    <span class="h1 mb-5">Bem-vindo ao assistente de criação de anúncios!</span>
    <span class="fs-5">Vamos começar por preencher os campos básicos do seu anúncio.</span>
  </div>
  <div class="d-flex flex-shrink-1 h-100">
    <img class="m-auto image-right"
         src="https://i.pinimg.com/originals/fb/43/b2/fb43b2ef58e824f3ec1f640bf5bd996b.gif" alt="multiple houses">
  </div>
</div>

