<div class="property d-flex flex-column p-3 w-100 h-100">
  <img class="w-100 h-75 m-1 rounded-3" src="{{property?.thumbnailUrl}}" alt="">
  <div class="d-flex flex-column w-100 h-25 justify-content-center">
    <span class="details p-1 fw-bold fs-6">{{ property?.location }}</span>
    <div class="d-flex flex-row justify-content-between">
      <span class="details p-1"><span class="fw-bold">{{ property?.pricePerNight }}</span>€ noite</span>
      <span class="compare material-symbols-outlined">compare_arrows</span>
    </div>
  </div>
</div>
