<div class="property d-flex flex-column p-3 w-100 h-100">
  <a class="w-100 h-75 m-1" [routerLink]='["property", property?.propertyId]'>
    <img class="w-100 h-100 rounded-3"
         src="{{property?.imagesUrl?.[0]}}"
         alt="">
  </a>
  <div class="d-flex flex-row w-100 h-25 align-items-end justify-content-between">
    <a class="h-100 w-75 text-decoration-none text-black" [routerLink]='["property", property?.propertyId]'>
      <div class="d-flex flex-column justify-content-center h-100 overflow-hidden">
        <span class="details p-1 fw-bold w-100">{{ property?.location }}</span>
        <span class="details p-1 w-100"><span class="fw-bold">{{ property?.pricePerNight }}</span>€ noite</span>
      </div>
    </a>
    <a class="text-decoration-none text-black" href="#" (click)="console.log('Id da propriedade > ' + property?.propertyId)"><span class="compare p-1 material-symbols-outlined">compare_arrows</span></a>
  </div>
</div>
