<div class="row justify-content-center mt-5">
    <div class="col-md-3 mb-5">
        <!--<h3 class="text-center">Lista de Grupos</h3>-->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Lista de Grupos
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="overflow-auto accordion-body p-1 overflow-auto" style="max-height: 350px">
                        <div class="list-group list-group-flush overflow-auto">
                            <div *ngIf="group_list.length == 0" class="mx-auto p-2">
                                <span class="text-muted small">Não existem grupos de reserva.<button type="button" class="btn btn-outline-success btn-sm rounded-pill ms-2"><i class="bi bi-person-fill-add"></i></button></span>
                            </div>
                            <a *ngFor="let group of group_list" class="list-group-item list-group-item-action" (click)="chooseGroup(group)">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="fw-bold">Grupo {{group.id}}</div>
                                    <span class="badge bg-primary rounded">{{group.members.length}}<i class="bi bi-person ms-1"></i></span>
                                </div>
                                <span class="text-muted small">{{group.lastMessage.member}}: {{group.lastMessage.message.length > 20 ? (group.lastMessage.message | slice:0:20) + '...' : group.lastMessage.message}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 mb-5">
        <h2 class="text-center">Conteúdo</h2>
        <div class="d-flex flex-column flex-md-row">
            <div class="card mb-3 me-md-2">
                <img src="https://bookingbuddyrepository.blob.core.windows.net/images/284c96f1-af95-4600-9e94-da5a6b84ad8e.jpg" class="card-img-top object-fit-fill" alt="Imagem do Card">
                <div class="card-body">
                    <h5 class="card-title">Casa no Rio</h5>
                    <p class="card-text">Descrição da casa do rio. Esta é uma descrição placeholder!</p>
                </div>
            </div>
            <div class="card mb-3 me-md-2">
                <img src="https://bookingbuddyrepository.blob.core.windows.net/images/7654304c-58c6-4f92-b45f-1288625ae27f.jpeg" class="card-img-top" alt="Imagem do Card">
                <div class="card-body">
                    <h5 class="card-title">Casa no Alentejo</h5>
                    <p class="card-text">Descrição da casa do alentejo. Esta é uma descrição placeholder!</p>
                </div>
            </div>
            <div class="card mb-3">
                <img src="https://bookingbuddyrepository.blob.core.windows.net/images/16438d2c-5ae9-49a7-b2fc-5c96232b620b.jpeg" class="card-img-top" alt="Imagem do Card">
                <div class="card-body">
                    <h5 class="card-title">Vivenda Algarvia</h5>
                    <p class="card-text">Descrição da casa do algarvia. Esta é uma descrição placeholder!</p>
                </div>
            </div>
        </div>
    </div>
</div>