<div class="row justify-content-center mt-5 w-100">
    <div class="modal fade align-self-center" id="deleteGroupModal" tabindex="-1" aria-labelledby="deleteGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteGroupModalLabel">Apagar Grupo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza de que deseja apagar este grupo?</p>
                    <p>Esta ação é <strong>irreversível</strong> e resultará na exclusão do grupo para todos os membros. Todos os dados associados serão perdidos.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteGroup()">Apagar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addPropertyModal" tabindex="-1" aria-labelledby="addPropertyModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPropertyModalLabel">Adicionar Propriedade</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Leia cuidadosamente os seguintes procedimentos.</p>
                    <p>Para adicionar uma propriedade ao seu grupo de reserva deve:</p>
                    <ol class="list-group list-group-numbered list-group-flush mb-2">
                        <li class="list-group-item"><strong>Ir para a Página Inicial:</strong> Clique em "Aceitar" para começar a explorar.</li>
                        <li class="list-group-item"><strong>(Opcional) Pesquisar e Filtrar:</strong> Encontre uma propriedade que se adeque às suas necessidades.</li>
                        <li class="list-group-item"><strong>Adicionar ao Grupo:</strong> Selecione uma propriedade e clique em "Adicionar ao Grupo de Reserva".</li>
                        <li class="list-group-item"><strong>Selecionar Grupo:</strong> Escolha o grupo de reserva onde deseja incluir a propriedade.</li>
                        <li class="list-group-item"><strong>Concluir:</strong> A propriedade será automaticamente adicionada ao grupo selecionado.</li>
                    </ol>
                    <p class="mt-2"><strong>NOTA:</strong> Para cada grupo de reserva existe um máximo de 6 propriedades a escolher.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" routerLink="/">Aceitar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-5">
        <div class="accordion mb-3" id="accordionGroups">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Lista de Grupos
            </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionGroups">
                    <div class="overflow-auto accordion-body p-1 overflow-auto" style="max-height: 350px">
                        <div class="list-group list-group-flush overflow-auto">
                            <div class="mx-auto p-2">
                                <span class="text-muted small">Criar um grupo de reserva<button type="button" class="btn btn-outline-success btn-sm rounded-pill ms-2" routerLink="/group-booking"><i class="bi bi-person-fill-add"></i></button></span>
                            </div>
                            <hr class="m-0" />
                            <span class="mx-auto p-2 fw-bold small" *ngIf="group_list.length == 0">Não existem grupos de reserva</span>
                            <button *ngFor="let group of group_list" class="list-group-item list-group-item-action" (click)="chooseGroup(group)" [ngClass]="{'bg-success text-white': group === currentGroup}">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">{{group.name}}</div>
                    <span class="badge bg-success-medium rounded">{{group.membersId.length}}<i class="bi bi-person ms-1"></i></span>
                  </div>
                  <!--<span class="text-muted small text-truncate">{{group.lastMessage.member}}: {{group.lastMessage.message}}</span>-->
                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="accordionMembers" *ngIf="currentGroup">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed shadow-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOneMembers" aria-expanded="false" aria-controls="collapseOneMembers">
              Membros do Grupo
            </button>
                </h2>
                <div id="collapseOneMembers" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionMembers">
                    <div class="overflow-auto accordion-body p-1 overflow-auto" style="max-height: 350px">
                        <div class="list-group list-group-flush overflow-auto">
                            <span class="mx-auto p-2 fw-bold small" *ngIf="group_list.length == 0">Não existem membros neste grupo.</span>
                            <button *ngFor="let member of currentGroup?.members!" class="list-group-item list-group-item-action">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="fw-bold">{{member.name}}</div>
                    <i class="ms-1 bi {{ member?.id === currentGroup.groupOwnerId ? 'bi-award-fill' : 'bi-person-fill' }}"></i>
                  </div>
                  <!--<span class="text-muted small text-truncate">{{group.lastMessage.member}}: {{group.lastMessage.message}}</span>-->
                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-9 mb-5">
        <div #successAlerts class="alert alert-success alert-dismissible fade show" role="alert" *ngFor="let success_message of success_alerts">
            <span>{{success_message}}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div #errorAlerts class="alert alert-danger alert-dismissible fade show" role="alert" *ngFor="let error_message of errors">
            <span>{{error_message}}</span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <h2 class="text-center mb-3">Grupo de Reserva</h2>
        <div *ngIf="currentGroup" class="d-flex flex-row justify-content-end mt-2 mb-2">
            <button class="btn btn-sm btn-secondary me-2" (click)="copyGroupLink()" matTooltip="Copiar link de convite"><i class="bi bi-link"></i></button>
            <button class="btn btn-sm btn-warning me-2" *ngIf="isGroupOwner" (disabled)="!currentGroup?.choosenProperty" (click)="setGroupAction('voting')" matTooltip="Iniciar Votação"><i class="bi bi-chat-square-heart-fill"></i></button>
            <button class="btn btn-sm btn-success me-2" *ngIf="isGroupOwner" (click)="setGroupAction('paying')" matTooltip="Iniciar Pagamento"><i class="bi bi-credit-card-fill"></i></button>
            <button class="btn btn-sm btn-danger" *ngIf="isGroupOwner" data-bs-toggle="modal" data-bs-target="#deleteGroupModal" matTooltip="Apagar Grupo"><i class="bi bi-trash"></i></button>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div *ngIf="!currentGroup" class="text-center">
                <h5>Selecione um grupo na barra lateral ou crie um novo grupo de reserva!</h5>
            </div>
            <div *ngIf="currentGroup?.properties?.length == 0" class="mx-auto p-2">
                <span class="text-muted small">Não existem propriedades para este grupo.</span>
            </div>
            <div *ngIf="currentGroup && groupAction === 'None' || groupAction === 'Voting'">
                <div class="d-flex flex-row justify-content-around">
                    <div class="card mb-3 me-md-2 w-25 w-lg-25" *ngFor="let property of currentGroup?.properties">
                        <img [src]="getPropertyImage(property)" class="card-img-top" alt="Imagem da Propriedade">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{property.name}}</h5>

                            <p class="card-text text-truncate fw-bold">{{property.pricePerNight}}€</p>
                            <button class="btn btn-sm btn-danger me-2" *ngIf="groupAction !== 'Voting'" matTooltip="Remover Propriedade" (click)="removeProperty(property)"><i class="bi bi-x-square"></i></button>
                            <button class="btn btn-sm btn-info" *ngIf="groupAction === 'Voting'" matTooltip="Selecionar Propriedade" (click)="setChoosenProperty(property)"><i class="bi bi-check2-circle"></i></button>
                            <button class="btn btn-sm btn-success ms-2" *ngIf="groupAction === 'Voting' && isGroupOwner" matTooltip="Selecionar Propriedade DEV" (click)="setChoosenPropertyDEV(property)"><i class="bi bi-check2-circle"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="currentGroup && currentGroup?.choosenProperty && groupAction === 'Paying'" class="w-100">
                <!--<h3>Property Escolhida: {{ currentGroup?.choosenProperty }}</h3>-->
                <!--<app-payment [data]="bookingData"></app-payment>-->
                <div class="text-center text-wrap text-muted mt-2 mb-4" *ngIf="!isGroupOwner">
                    <h5>Por favor, aguarde enquanto o líder do grupo determina a data para efetuar a reserva.</h5>
                    <h5>Uma vez concluída esta etapa, serão fornecidos os detalhes de pagamento pertinentes à sua parcela como membro.</h5>
                </div>
                <div class="w-75 text-center mx-auto mb-4" *ngIf="isGroupOwner">
                    <form [formGroup]="reservarPropriedadeForm" (submit)="reservar($event)">
                        <mat-form-field (click)="picker.open()">
                            <mat-label>Selecione as datas</mat-label>
                            <mat-date-range-input [rangePicker]="picker" [dateFilter]="dateFilter" [max]="maxDate">
                                <input matStartDate placeholder="Check-In" formControlName="checkIn" (dateChange)="onDateChange($event, 'start')">
                                <input matEndDate placeholder="Check-Out" formControlName="checkOut" (dateChange)="onDateChange($event, 'end')">
                            </mat-date-range-input>
                            <mat-datepicker-toggle *ngIf="!checkInDate" matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker-toggle *ngIf="checkInDate" matSuffix (click)="clearDates()">
                                <mat-icon matDatepickerToggleIcon>clear</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-date-range-picker [dateClass]="discountClass" #picker></mat-date-range-picker>
                        </mat-form-field>

                        <div class="mb-1">
                            <label for="hospedes">Hóspedes: {{getGroupMembers()}}</label>
                        </div>
                        <button class="btn btn-success mt-1 mb-3">Reservar</button>
                        <h6 class="text-secondary mb-3">Ainda não vai ser cobrado</h6>
                        <div class="precos mb-2">
                            <div *ngFor="let formattedString of formatPricesMap()">
                                <h6 class="text-secondary mb-2"><u>{{ formattedString }}</u></h6>
                            </div>
                        </div>
                        <hr class="mt-4 mb-2">
                        <div class="mb-4">
                            <span>Total: </span>
                            <span>{{ calcularTotalDesconto() }}€</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="currentGroup">
            <div class="chat w-50 mx-auto mt-2 mb-3">
                <h3>Chat com o grupo</h3>
                <div class="w-100 mt-3 px-3 overflow-auto " style="max-height: 300px;">
                    <div *ngFor="let m of currentGroup?.messages " class="text-left text-break ">
                        <p><strong>{{m.userName}}:</strong> {{m.message}}</p>
                    </div>
                </div>

                <div class="input-group mt-3">
                    <input type="text " class="form-control " placeholder="Escreva a sua mensagem " [(ngModel)]="newMessage">
                    <button class="btn btn-outline-secondary " type="button " (click)="sendMessage() " [disabled]="newMessage===''">Enviar</button>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-around align-items-center mt-5">
                <button type="button " class="btn btn-md btn-success me-2" data-bs-toggle="modal " data-bs-target="#addPropertyModal ">Adicionar Propriedade<i class="bi bi-house-add-fill ms-2 "></i></button>
                <div class="flex-fill "></div>
                <button class="btn btn-md btn-dark " (click)="sendMessageWS() ">Reservar Selecionada<i class="bi bi-arrow-right ms-2 "></i></button>
            </div>
        </div>
        <div *ngIf="submitting " class="h-100">
            <app-loader></app-loader>
        </div>
    </div>
</div>