:host {
  display: flex;
  height: inherit;
  width: inherit;
  justify-content: center;
}

.on-hover-pointer:hover {
  cursor: pointer;
}

.property-list {
  min-height: 25%;
}

@media screen and (max-width: 768px) {
  .property-list {
    min-height: 20vh;
  }
}

@media screen and (max-width: 768px) {
  .chat {
    height: 50vh;
  }
}

.custom-scroll::-webkit-scrollbar {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #b2b2b2;
  border-radius: 10px;
  margin: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #5c7858;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #198653;
}
