:host {
    flex-grow: inherit;
    display: flex;
    width: 100%;
}

.main {
    flex-grow: inherit;
}

.center-form {
    width: 100%;
    text-align: center;
}

.form-input {
    border-color: grey;
    border: 1.5px solid grey;
    border-radius: 5px;
    width: 45%;
    min-height: 20%;
    padding-left: 1%;
    font-weight: bold;
}

.page-title {
    font-size: 200%;
    font-weight: bold;
}

.recovery-link {
    text-align: right;
    width: 45%;
}

.recovery-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login-button {
    border-radius: 5px;
    width: 45%;
    min-height: 20%;
    font-weight: bold;
    background-color: #9DC78A;
    border: none;
}

.login-button:hover {
    background-color: #53834C;
    color: white;
}

.other-logins {
    width: 45%;
    font-size: 100%;
    font-weight: bolder;
    color: #757171;
}

.bottom-text {
    color: #636363;
}

.bottom-text a {
    font-weight: bolder;
    text-decoration: none;
    color: #636363;
}

.custom-small-input {
    width: 50%;
}

.marginForRow {
    margin-left: 10%;
}

.fix-display {
  display: block;
  margin-top: 5px;
}
