<div class="d-flex h-100 w-100" [ngSwitch]="currentStep">
  <app-initial-step *ngSwitchCase="0" (nextStep)="nextStep()"
                    [currentPercentage]="currentCompletePercentage">
  </app-initial-step>
  <app-location-step *ngSwitchCase="1"
                     [currentPercentage]="currentCompletePercentage"
                     [location]="location"
                     (nextStep)="nextStep()"
                     (previousStep)="previousStep()"
                     (locationSubmit)="setLocation($event)"
  ></app-location-step>
  <app-amenities-step *ngSwitchCase="2" (nextStep)="nextStep()"
                      (previousStep)="previousStep()"
                      [currentPercentage]="currentCompletePercentage"
                      (amenitiesSubmit)="setAmenities($event)">
  </app-amenities-step>
</div>

<div *ngIf="submitting" class="d-flex w-100 h-100 flex-column align-items-center justify-content-center">
  <app-loader></app-loader>
</div>
