:host {
  display: flex;
  height: inherit;
  width: inherit;
}

.form-input-rounded-right {
  border-radius: 0 5px 5px 0 !important;
}

.input-form-field {
  width: 30%;
}

.google-maps {
  width: 30%;
}

.bottom-button {
  width: 10%;
}

google-map {
  border-radius: 5px !important;
}

.progress-bar-0 {
  width: 0;
}

.progress-bar-33 {
  width: 33%;
}

.progress-bar-66 {
  width: 66%;
}

.progress-bar-100 {
  width: 100%;
}

@media only screen and (max-width: 1700px) {
  .input-form-field {
    width: 40%;
  }

  .google-maps {
    width: 40%;
  }
}

@media only screen and (max-width: 1400px) {
  .input-form-field {
    width: 50%;
  }

  .google-maps {
    width: 50%;
  }
}

@media only screen and (max-width: 1100px) {
  .input-form-field {
    width: 60%;
  }

  .google-maps {
    width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  .input-form-field {
    width: 70%;
  }

  .google-maps {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .input-form-field {
    width: 100%;
  }

  .google-maps {
    width: 100%;
  }
}
