
:host {
    display: flex;
    height: inherit;
    width: inherit;
}
.img-shorter {
  max-width: 50%; /* Ajuste a largura máxima conforme necessário */
  height: auto;
}

/*.carousel-item {
  transform: scale(1);*/ /* Garante que a escala seja mantida durante as transições */
  /*transition: transform 0.5s ease;*/ /* Adapte a duração e a função de temporização conforme necessário */
/*}*/


