
:host {
    display: flex;
    height: inherit;
    width: inherit;
}
.img-shorter {
  max-width: 50%; /* Ajuste a largura máxima conforme necessário */
  height: 100%;
}

.mycarousel {
  display: flex;
  max-height: 600px; /* Substitua pela altura desejada */
  overflow: hidden;
}

  .mycarousel img {
    width: 100%;
    
  }

/* Adicione este estilo para esconder a checkbox */
.hidden-checkbox {
  display: none;
}

/* Estilo para o label simulando o botão */
.btn {
  cursor: pointer;
}

/* Estilo para o dropdown que é ativado pelo estado :checked da checkbox */
.hidden-checkbox:checked + label + .dropdown-menu {
  display: block;
}

/* Estilo básico para o dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

  .dropdown-item:hover {
    background-color: #f8f9fa;
  }

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Posiciona a dropdown abaixo do botão */
  right: 0; /* Alinha a dropdown à direita */
  display: none;
}

.hidden-checkbox:checked + label + .dropdown-menu {
  display: block;
}

.beautifications{
    background-color: #9DAE9A;
    border: none;
}


