<div class="main d-flex flex-column align-items-center justify-content-between">
    <h3>Casa do Forte</h3>
    <div class="d-flex align-items-center justify-content-between">
        <h5>★ 4.9</h5>
        <h5>Peniche, Portugal</h5>
    </div>
    <div class="d-flex gap-2 justify-content-between">
        <img src="https://a0.muscache.com/im/pictures/57c386b4-9f3e-4468-81f4-93b31219e621.jpg?im_w=480" />
        <img src="https://a0.muscache.com/im/pictures/014df369-194e-47b1-9d5e-197a22ea9f40.jpg?im_w=480" />
    </div>
    <div class="d-flex mt-5 gap-5">
        <div class="owner w-75 gap-2">
            <h5>Unidade de arrendamento inteiro(a) hospedado por António</h5>
            <div class="info d-flex align-items-center gap-3">
                <h6>5 hóspedes</h6>
                <h6>2 quartos</h6>
                <h6>5 camas</h6>
                <h6>1 casa de banho</h6>
            </div>
            <hr/>
            <p>Bem-vindo ao nosso retiro familiar! Localizado na Consolação, uma pequena aldeia no extremo sul dos Supertubos. Primeira linha para o apartamento no último andar do mar com janelas grandes. Grande terraço ensolarado em forma de L, orientação
                sul e oeste. Mais de 180º de vista para o mar, a menos de 1 minuto da água. A 6 km do centro de Peniche. Restaurantes e mercearias nas proximidades...</p>
        </div>
        <div class="reservar p-4 border border-secondary rounded">
            <div class="d-flex flex-column justify-content-around gap-3">
                <h5>De 20/10/2021 a 25/10/2021</h5>
                <button>Reservar</button>
            </div>
        </div>
    </div>
</div>