<div class="d-flex flex-column align-items-center justify-content-start p-5 flex-grow-1">
  <div class="d-flex flex-column align-items-center w-100">
    <div *ngIf="errors.length !== 0"
         class="alert alert-danger alert-dismissible d-flex w-75 align-items-center fade show my-2" role="alert">
      <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close"
              (click)="errors=[]"></button>
      <div class="d-flex flex-column align-items-start">
        <span *ngFor="let error of errors">{{ error }}</span>
      </div>
    </div>
  </div>
  <div class="fs-1 p-3 fw-bold text-center">Preencher informações sobre o grupo</div>
  <div class="fs-6 p-2 text-center">Preencha o seguinte campo com a informação relativa ao nome do grupo.</div>
  <form class="d-flex w-75 mt-3 h-50 flex-column align-items-center justify-content-center p5" [formGroup]="groupNameForm">
    <div class="d-flex w-100 flex-column mb-3 flex-grow-1">
      <input type="text" name="name" class="form-control h-100" formControlName="name" style="resize: none"
             placeholder="Introduza o nome do grupo"
             [ngClass]="{'is-valid':nameFormField?.valid && nameFormField?.dirty,'is-invalid':nameFormField?.invalid && nameFormField?.dirty}" />
      <div *ngIf="nameFormField?.value!.length === 0" class="invalid-feedback">
        O nome do grupo é obrigatório.
      </div>
      <div *ngIf="nameFormField?.value!.length > 0 && nameFormField?.value!.length < 3"
           class="invalid-feedback">
        O nome do grupo deve ter no mínimo 3 caracteres.
      </div>
      <div *ngIf="descriptionFormField?.value!.length > 20" class="invalid-feedback">
        O nome do grupo deve ter no máximo 20 caracteres.
      </div>
    </div>
  </form>
</div>

