<div class="d-flex flex-column align-items-center justify-content-start my-auto p-5 flex-grow-1">
    <div class="d-flex flex-column align-items-center w-100">
        <div *ngIf="errors.length !== 0" class="alert alert-danger alert-dismissible d-flex w-75 align-items-center fade show my-2" role="alert">
            <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close" (click)="errors=[]"></button>
            <div class="d-flex flex-column align-items-start">
                <span *ngFor="let error of errors">{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="fs-1 p-3 fw-bold text-center">Preencher informações sobre o grupo</div>
    <div class="fs-6 p-2 text-center">Preencha o seguinte campo com a informação relativa aos emails dos membros. Assim que terminar pressione a tecla <strong>"Enter"</strong>  para convidar um membro.</div>
    <form class="d-flex w-75 mt-3 h-50 flex-column align-items-center justify-content-center p5" [formGroup]="groupMembersForm">
        <div class="d-flex w-100 flex-column mb-3 flex-grow-1">
            <input type="text" name="members" class="form-control " [formControl]="emailControl" style="resize: none" placeholder="Introduza o email de um membro" (keydown)="save($event)" [ngClass]="{'is-valid': emailControl.valid && emailControl.dirty, 'is-invalid': emailControl.invalid && emailControl.dirty}"
            />
            <div class="badge-list mt-2">
                <div *ngFor="let email of currentGroupMembers.members" class="badge badge-primary mt-1 d-flex align-items-center" style="background-color: #9DAE9A;">{{ email }}
                    <button type="button" class="ms-1 btn-close btn-close-white" aria-label="Close" (click)="removeEmail(email)"></button>
                </div>
            </div>

        </div>
    </form>
</div>
