<div class="amenity-list d-flex overflow-y-scroll mt-5 pb-3 px-5 mx-5 flex-row flex-wrap flex-grow-1 align-content-start">
  <div class="w-100 text-center mb-3">
    <div class="fs-1 p-3 fw-bold w-100">O que é que a sua propriedade oferece?</div>
    <div class="fs-6 p-2 w-100">Selecione as comodidades oferecidas na sua propriedade.</div>
  </div>
  <app-amenity *ngFor="let amenity of AmenitiesHelper.getAmenities()"
               [amenity]="amenity"
               [selected]="isSelected(amenity)"
               (onSelected)="selectAmenity($event)">
  </app-amenity>
</div>
