:host {
  flex-grow: inherit;
  display: flex;
}

.main {
  flex-grow: inherit;
}

.property{
    width:16%;
}

.properties{
    width:100%;
}

.property-image {
  width: 100%;
  height: 100%;
  border-radius:5px;
}
