<div class="center">
  <h2 class="margin10">Bem-vindo ao Booking Buddy!</h2>

  <form class="center">
    <div class="margin-top2">
      <input class="inputCaixaRegister" type="email" id="email" name="email" placeholder="Insira o seu endereço e-mail" required>
    </div>

    <div class="margin-top2">
      <input class="inputCaixaRegister" type="password" id="pass" name="pass" placeholder="Insira a sua palavra-passe" required>
    </div>

    <div class="margin-top2">
      <input class="inputCaixaRegister" type="password" id="confirmPass" name="confirmPass" placeholder="Reescreva a sua palavra-passe" required>
    </div>

    <button type="button" class="margin-top2 btnRegister">Criar Conta</button>
  </form>

  <div class="divhr1">
    <hr class="hr1 margin-top2">
    <div>Ou criar conta com</div>
    <hr class="hr1 margin-top2">
  </div>

  <div class="registerExtra">
    <button class="botao-imagem">
      <img class="google" src="../assets/img/googleIcon.png">
    </button>

    <button class="botao-imagem">
      <img class="microsoft" src="../assets/img/microsoftLogo.png">
    </button>

  </div>

  <div style="">
    <p>Já tem conta? <a href="/login" style="font-weight:bold">Faça login</a></p>
  </div>

</div>
