<div class="d-flex flex-row w-100 text-center align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-start text-wrap text-start">
        <span class="h1 ms-4 mb-5">Bem-vindo ao assistente de criação de grupos de reserva!</span>
        <span class="h4 ms-4 mb-2">Ao utilizar este assistente, você poderá criar um grupo de reserva para votação em grupo.</span>
        <span class="h4 ms-4 mt-4">Passo a passo:</span>
        <ol class="ms-4">
            <li class="h5">Forneça o nome do grupo de reserva.</li>
            <li class="h5">Adicione os endereços de email dos outros membros (estes devem ter uma conta na plataforma para aderir ao grupo através do convite por email).</li>
            <li class="h5">No futuro, você poderá compartilhar o convite do grupo através de um botão que copia um link de convite.</li>
        </ol>
    </div>
    <div class="d-flex flex-shrink-1 h-100">
        <img class="m-auto image-right" src="https://i.pinimg.com/originals/87/6f/9c/876f9c5858d664d0efa0c476db65ef87.gif" alt="group of people">
    </div>
</div>