<div class="d-flex flex-row flex-grow-1 w-100 text-center align-items-center justify-content-center">
  <div class="d-flex w-50 flex-grow-1 flex-column align-items-center">
    <span class="h1 mb-5">Bem-vindo ao assistente de criação de grupos de reserva!</span>
    <span class="fs-5 mb-5">Vai ser possível selecionar propriedades para uma votação em grupo, após a criação do mesmo!</span>
    <span class="fs-5">Por agora, vamos começar por preencher os campos básicos do seu grupo.</span>
  </div>
  <div class="d-flex flex-shrink-1 h-100">
    <img class="m-auto image-right"
         src="https://i.pinimg.com/originals/87/6f/9c/876f9c5858d664d0efa0c476db65ef87.gif" alt="group of people">
  </div>
</div>
