:host{
  display: flex;
  height: inherit;
  width: inherit;
}

.form-input {
  border: 2px solid grey;
  font-weight: bold;
}

.btn-submit {
  font-weight: bold;
  background-color: #9DC78A;
  border: none;
}

.btn-submit:hover {
  background-color: #53834C;
  color: white;
}

.bottom-text {
  color: #636363;
}

.bottom-text button {
  font-weight: bolder;
  text-decoration: none;
  color: #636363;
}
