<!--<footer class="footer mt-auto py-3 bg-light">
    <div class="d-flex flex-row justify-content-center">
        <div class="col-md-12">
            <p>&copy; 2024 BookingBuddy. Todos os direitos reservados.</p>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h5>Precisa de ajuda ou tem dúvidas?</h5>
            </div>
            <p>
                <a href="/faq" class="text-secondary">Página de FAQs</a>
            </p>
        </div>
    </div>
</footer>-->

<footer class="d-flex flex-wrap justify-content-between align-items-center p-4 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2024 BookingBuddy. Todos os direitos reservados.</p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">Sobre</a></li>
    </ul>
</footer>