<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white box-shadow">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 text-dark">
      <h4>Propriedades</h4>
      <app-side-properties class="rounded-3 mb-4" *ngFor="let property of property_list" [property]="property"
                           (click)="setCurrentProperty(property)"
                           [class.current-property]="property === currentProperty"></app-side-properties>
    </div>
  </div>

  <div *ngIf="submitting" class="h-100">
    <app-loader></app-loader>
  </div>

  <div *ngIf="!submitting" class="col-md-6 mt-5 mx-auto">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h3>Avaliação média</h3>
      <p><span class="mx-1" *ngIf="propertyRating">★</span>{{ propertyRating ?? "N/A" }}</p>
    </div>

    <div *ngIf="!submitting" class="d-flex flex-column justify-content-center align-items-center">
      <h3>Taxa de ocupação anual</h3>
      <p>{{ propertyOccupancyByYearPercentage.toFixed(1) }}%</p>
    </div>

    <hr *ngIf="!submitting" class="my-4">

    <div *ngIf="!submitting" class="d-flex flex-column justify-content-center align-items-center">
      <h2>Ganhos</h2>
      <h3>Valor bruto obtido através de reservas nesta propriedade</h3>
      <p>{{ propertyGains.toFixed(2) }}€</p>
    </div>
  </div>
</div>
