<div class="row flex-nowrap">
  <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white box-shadow">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-dark">
      <h4>Propriedades</h4>
      <app-side-properties class="rounded-3 mb-4" *ngFor="let property of property_list" [property]="property" (click)="setCurrentProperty(property)" [class.current-property]="property === currentProperty"></app-side-properties>
    </div>
  </div>


  <div class="col-md-6 mt-5">
    <div class="d-flex justify-content-end mx-auto">
      
        <div class="d-flex flex-column">
          <h3>Avaliação Média</h3>

        </div>
     
    </div>
  </div>

</div>
