<div class="d-flex flex-column align-items-center justify-content-center" *ngIf="!signedIn && !registerSucceeded">
  <h3 class="p-4 mt-3">Bem-vindo ao Booking Buddy!</h3>
  <form class="form w-50" [formGroup]="registerForm" (submit)="register($event)">
    <div class="row m-3" *ngFor="let error of errors">
      <label style="color: red">{{error}}</label>
    </div>
    <div class="row m-3">
      <input class="col form-field inputCaixaRegister" name="name" formControlName="name" placeholder="Insira o seu nome" />
    </div>
    <div class="row m-3">
      <input class="col form-field inputCaixaRegister" name="email" formControlName="email" placeholder="Insira o seu endereço e-mail" />
    </div>
    <div class="row m-3">
      <input class="col form-field inputCaixaRegister" type="password" name="password" formControlName="password" autocomplete="on" placeholder="Insira a sua palavra-passe" />
    </div>
    <div class="row m-3">
      <input class="col form-field inputCaixaRegister" type="password" name="confirmPassword" formControlName="confirmPassword" autocomplete="on" placeholder="Confirme a sua palavra-passe" />
    </div>
    <div class="row m-3">
      <button class="col btnRegister" [disabled]="!registerForm.valid" type="submit">Criar conta</button>
    </div>
  </form>

  <div class="divhr1">
    <hr class="hr1 margin-top2">
    <div> &nbsp; Ou criar conta com &nbsp;</div>
    <hr class="hr1 margin-top2">
  </div>

  <div class="registerExtra">
    <button class="botao-imagem">
      <img class="google" src="../assets/img/googleIcon.png">
    </button>

    <button class="botao-imagem">
      <img class="microsoft" src="../assets/img/microsoftLogo.png">
    </button>
  </div>

  <div style="">
    <p>Já tem conta? <a href="/signin" style="font-weight:bold">Faça login</a></p>
  </div>
</div>

<div *ngIf="registerSucceeded" class="d-flex flex-column align-items-center justify-content-center margin7">
  <img class="carta" src="../assets/img/envelope.png">
  <div>
    <p class="validarText">
      Estamos quase lá...<br>
      Por favor, confirme o seu endereço de e-mail para ativar a sua conta.
    </p>
  </div>
  <div class="bottom-div">
    <p>Não recebeu e-mail de confirmação? <a href="#" style="font-weight:bold">Clique aqui</a></p>
  </div>
</div>


<!--A div abaixo é para ser mostrada quando o email for validado
<div *ngIf="registerSucceeded" class="d-flex flex-column align-items-center justify-content-center margin7" >
  <img style="margin-bottom:10%" class="carta" src="../assets/img/certo.png">
  <div>
    <p class="validarText">
      O seu endereço de e-mail foi confirmado com sucesso.<br />
      A sua conta está pronta para uso.
    </p>
  </div>
  <div>
    <p class="validarText" >
      Agradecemos por escolher o Booking Buddy.
    </p>
  </div>

  <div class="bottom-div">
    <p>Clique aqui para ser redirecionado para a página de <a href="/signin" style="font-weight:bold">Login</a></p>
  </div>
</div>-->
