.inputCaixaRegister {
  width: 300px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 15px;
  border-color: grey;
  border: 1px solid grey;
  padding: 10px;
}

.btnRegister {
  background-color: #9DC78A;
  width: 300px;
  height: 60px;
  /*font-family: 'Times New Roman', Times, serif;*/
  border-radius: 15px;
  margin-top: 5%;
  border: none;
  outline: none;
  color: black;
}

.margin7 {
  margin: 7%;
  margin-bottom: 5%;
}

.hr1 {
  border: 1px solid black;
  width: 100px;
}

.divhr1 {
  display: flex;
  margin-top: 1%;
}

.registerExtra {
  display: flex;
  text-align: center;
}

.botao-imagem {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 1px solid #9DC78A;
  border-radius: 15px;
  margin: 10px;
  width: 70px;
  height: 60px;
}

.d-flex-center {
  display: flex;
  min-height: 10vh;
}

.externalLoginButton {
  margin-left: 15%;
  margin-right: 15%;
}

.carta {
  width: 150px;
  height: 150px;
}

.validarText {
  text-align: center;
  width: 300px;
  font-weight: bold;
}

.bottom-div {
  position: fixed; /* ou absolute, dependendo do seu layout */
  bottom: 0;
  width: 100%;
  padding: 10px; /* espaçamento interno opcional */
  text-align: center; /* alinhar o texto ao centro opcional */
}
