<div class="d-flex justify-content-center align-items-center w-100 mt-2 mb-5">
    <div class="card" aria-hidden="true" *ngIf="!isLoaded">
        <img src="https://via.placeholder.com/150" class="card-img-top img-fluid" alt="Placeholder Image">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
                <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
            </p>
            <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
        </div>
    </div>

    <div *ngIf="orderType === 'booking'" class="mb-2">
        <app-payment [data]="data"></app-payment>
    </div>
  <div *ngIf="orderType === 'group-booking' && data" class="mb-2">
    <app-payment [data]="data"></app-payment>
  </div>
</div>
