:host{
  display: flex;
  width: inherit;
  height: inherit;
}

.form-input {
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 1%;
  font-weight: bold;
}

.page-title {
  font-size: 200%;
  font-weight: bold;
}

  .recovery-link a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

.btn-login {
  border-radius: 5px;
  font-weight: bold;
  background-color: #9DC78A;
  border: none;
}

  .btn-login:hover {
    background-color: #53834C;
    color: white;
  }

.other-logins {
  font-size: 100%;
  font-weight: bolder;
  color: #757171;
}

.bottom-text {
  color: #636363;
}

.bottom-text button {
  font-weight: bolder;
  text-decoration: none;
  color: #636363;
}
