:host {
  display: flex;
  width: inherit;
  height: inherit;
}

.chat {
  background-color: #ccd5cb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
 
}
.conteudo-reserva{
    width:auto;
}


.chat p {
  color: #3e5e38;
}

  .chat .input-group {
    margin-top: 10px;
  }

  .chat input {
    background-color: #ffffff;
    border: 1px solid #82987e;
    color: #5c7858;
  }

  .chat button {
    background-color: #82987e;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

    .chat button:hover {
      background-color: #718d73;
    }

    .chat button:active {
      background-color: #92a897;
    }
