<div class="container-fluid">
  <div class="row w-100 justify-content-between p-4">

    <div class="col-md-3 col-12 text-center rounded border border-dark">
      <img src="../../assets/img/user_logo.png" class="img-fluid rounded-circle p-3" width="150" height="150" alt="Imagem">
      <h4>Nome_Utilizador</h4>
      <p>role</p>
    </div>

    <div class="col-md-8  col-12 rounded p-3">
      <h3>Sobre Nome_Utilizador</h3>
      <p> descrição_do_utilizador </p>
    </div>

  </div>

  <hr class="hr" />

  <div class="row w-100 justify-content-between p-4">

    <div class="col-lg-6">
      <div class="col-12 col-lg-8">
        <p>Nome de utilizador</p>
        <input type="text" class="form-control " id="InputEmail1" placeholder="nome_user" disabled>
        <p class="mt-3">Nome</p>
        <input type="text" class="form-control " id="InputEmail1" placeholder="user_name" disabled>
        <p class="mt-3">Email</p>
        <input type="text" class="form-control mb-5" id="InputEmail1" placeholder="user_email" disabled>
      </div>
    </div>

    <div class="col-lg-6">
      <button type="button" class="btn btn-outline-success btn-lg">Visualizar histórico de reservas</button>
    </div>

  </div>


</div>
