<div class="d-flex flex-column align-items-center justify-content-start p-5 flex-grow-1">
  <div class="d-flex flex-column align-items-center w-100" >
    <div *ngIf="errors.length !== 0"
         class="alert alert-danger alert-dismissible d-flex w-75 align-items-center fade show my-2" role="alert">
      <button type="button" class="btn-close align-self-center" data-bs-dismiss="alert" aria-label="Close"
              (click)="errors=[]"></button>
      <div class="d-flex flex-column align-items-start">
        <span *ngFor="let error of errors">{{ error }}</span>
      </div>
    </div>
  </div>
  <div class="fs-1 p-3 fw-bold text-center">Preencher informações sobre o anúncio</div>
  <div class="fs-6 p-2 text-center">Preencha os seguintes campos com a informação do anúncio.</div>
  <form class="d-flex w-75 mt-3 h-50 flex-column align-items-center justify-content-center p5" [formGroup]="infoForm">
    <div class="d-flex w-100 flex-column mb-3">
      <input type="text" name="name" class="form-control" formControlName="name"
             placeholder="Introduza o nome do anúncio"
             [ngClass]="{'is-valid':nameFormField?.valid && nameFormField?.dirty,'is-invalid':nameFormField?.invalid && nameFormField?.dirty}" />
      <div class="invalid-feedback">
        O nome do anúncio é obrigatório.
      </div>
    </div>
    <div class="d-flex w-100 flex-column mb-3 flex-grow-1">
      <textarea type="text" name="description" class="form-control h-100" formControlName="description" style="resize: none"
                placeholder="Descreve a sua propriedade..."
                [ngClass]="{'is-valid':descriptionFormField?.valid && descriptionFormField?.dirty,'is-invalid':descriptionFormField?.invalid && descriptionFormField?.dirty}"></textarea>
      <div *ngIf="descriptionFormField?.value!.length === 0" class="invalid-feedback">
        A descrição do anúncio é obrigatória.
      </div>
      <div *ngIf="descriptionFormField?.value!.length > 0 && descriptionFormField?.value!.length < 10"
           class="invalid-feedback">
        A descrição do anúncio deve ter no mínimo 10 caracteres.
      </div>
      <div *ngIf="descriptionFormField?.value!.length > 500" class="invalid-feedback">
        A descrição do anúncio deve ter no máximo 500 caracteres.
      </div>
    </div>
    <div class="d-flex w-100 flex-column mb-3">
      <input type="number" name="pricePerNight" class="form-control" formControlName="pricePerNight" min="1"
             placeholder="Introduza o preço por noite"
             [ngClass]="{'is-valid':pricePerNightFormField?.valid && pricePerNightFormField?.dirty,'is-invalid':pricePerNightFormField?.invalid && pricePerNightFormField?.dirty}" />
      <div class="invalid-feedback">
        O preço por noite é obrigatório.
      </div>
    </div>
    <div class="d-flex w-100 flex-column mb-3">
      <input type="number" name="maxGuestsNumber" class="form-control" formControlName="maxGuestsNumber" min="1"
             placeholder="Introduza o numero máximo de hóspedes"
             [ngClass]="{'is-valid':maxGuestsNumberFormField?.valid && maxGuestsNumberFormField?.dirty,'is-invalid':maxGuestsNumberFormField?.invalid && maxGuestsNumberFormField?.dirty}" />
      <div class="invalid-feedback">
        O numero de hóspedes obrigatório.
      </div>
    </div>
    <div class="d-flex w-100 flex-column mb-3">
      <input type="number" name="roomsNumber" class="form-control" formControlName="roomsNumber" min="1"
             placeholder="Introduza o numero de quartos"
             [ngClass]="{'is-valid':roomsNumberFormField?.valid && roomsNumberFormField?.dirty,'is-invalid':roomsNumberFormField?.invalid && roomsNumberFormField?.dirty}" />
      <div class="invalid-feedback">
        O numero de quartos é obrigatório.
      </div>
    </div>

  </form>
</div>
